body {
  font-size: 24px;
  margin: 0;
  color: #000;
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* font-family: "Inter"; */
  font-family: 'Crimson Pro', serif;

}
/* -----------------------NEW STUFF(Not sure if this is working, but a-container is for the intro) */
#a-container {
  position: fixed;
  z-index: 100;
  
}

#b-container {
  position: relative;
  z-index: 100;
  
}

#s-container {
  position: relative;
  z-index: 100;
}



.center img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#container {
  /*
        our chartAnimation does not scroll, the animation is triggered within it
    */
  /* position: fixed;   */
  position: sticky;
  top: 0vh;
  left: 60vh;
  right: 50vh;
  width: 100%;
  z-index: 100;
  padding-top: 10%;
  
}

#container2 {
  /*
        our chartAnimation does not scroll, the animation is triggered within it
    */
  /* position: fixed;   */
  position: sticky;
  top: 0vh;
  left: 60vh;
  right: 50vh;
  width: 100%;
  z-index: 100;
  
}

/* ---------------NEW STUFF (Created panel2 so I could edit the intro stuff separately from the other Step1-5 placeholders) -------- */
.panel2 {
  text-align: center;
  font-size: 20px;
  /* width: 80%; */
  width: 550px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 15vh;
  padding-bottom: 15vh;
  /* border-right:1px dotted black; */
}


.panel {
  text-align: center;
  width: 100%;
  /* used to be 30% */
  padding-left: 20px;
  padding-top: 20vh;
  padding-bottom: 25vh;
  
  /* border-right:1px dotted black; */
}

.panel:first-child {
  padding-top: 45vh;
}

.panel:last-child {
  padding-bottom: 50vh;
}

.animationText {
  font-size: 11px;
}

.iframe {
  padding-bottom:0vh;
}

.intro {
    text-align: center;
    font-size: 20px;
    width: 45%;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 5vh;
    padding-bottom: 5vh;
  background-color: whitesmoke;
}

.pastyeargraph {
  color: black;
  width: 550px;
  background-color: whitesmoke;
}

.dot {
  color: whitesmoke;
  z-index: 0;
}

.space {
  padding-bottom: 4em;
}